:root {
    --post-gap-vertical: 0rem;
    --post-gap-horizontal: 0.3rem;
}

/* Partial: post
 * Styling for individual posts. */
.post {
    padding-top: var(--sp-vertical-small);
    padding-bottom: calc(var(--sp-vertical-small) + var(--lh-default));
    position: relative;

    &__item {
        display: inline-block;
        font-size: var(--fs-small);

        &--inverse,
        &--shallow,
        &--highlight {
            padding: var(--post-gap-vertical) var(--post-gap-horizontal);
            border: 1px solid;

            /* A quick hack to make item visually middle-aligned, since these elements
             * are bordered, so the spacing from line-height doesn't get included as
             * the visual spacing between elements.
             *
             * This margin is set to relative of the line-height, e.g. for 1.5em:
             *
             *     ------------ <- 0.25em of spacing at the top
             *     LINE OF TEXT
             *     ------------ <- 0.25em of spacing at the bottom
             *
             * The bottom spacing is what we're doing with the following calculation.
             */
            margin-bottom: calc(calc(var(--lh-default) - 1rem) / 2);
        }

        &--relocatable {
            bottom: var(--sp-vertical-small);
            left: 0;
            position: absolute;
        }
    }

    &__container {
        margin: var(--sp-vertical-smaller) 0;

        &:last-child {
            padding: 0;
        }
    }

    @media (--desktop-viewport) {
        padding-bottom: var(--sp-vertical-smaller);

        .post__item {
            &--relocatable {
                position: static;
            }
        }
    }
}
